<li id="Task<%= t.id %>" class="collection-item">
  <a href="<%= edit_task_path(task) %>" class="right"><i class="material-icons">mode_edit</i></a>
  <%= form_with(model: task, id: "complete#{task.id}", remote: true) do |f| %>
      <%= f.hidden_field :project_id, value: project.id %>
      <%= f.check_box(:completed, {:class => 'fillied-in', id: "check_box#{task.id}", onchange: "$('#complete#{task.id}').submit()"}, "true", "false") %>
      <label for="check_box<%= task.id %>"><%= link_to(task.title, tasks_path(task)) %></label>
      <%= f.submit '', {:style => "display: none;"} %>
  <% end %>
</li>