<div class="row">
  <div class="col s12 m6">
  <div class="card">
    <div class="card-content">
      <div class="card-title"><%= @group.title %></div>
      <div class="card-block">
        <%= @group.description %>
        <% if current_user.is_owner?(@group) %>
            <%= form_with model: @group, method: :patch do |f| %>
                <%= f.label :title %>
                <%= f.text_field :title %>
                <%= f.label :description %>
                <%= f.text_area :description, class: "materialize-textarea" %>
                <%= f.submit "Update Group", class: "btn" %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
  </div>
<div class="col s12 m6">
  <h3 class="card-title">Projects</h3>
  <div class="card-block">
    <div class="card">
      <div class="card-content">
        <div class="card-title">All Projects</div>
        <div class="card-block">
          <ul class="collection" id="group-project-list">
            <% @group.projects.each do |p| %>
                <li id="Post<%= p.id %>" class="collection-item"><%= link_to p.title, project_path(p) %>
                  <a href="<%= edit_project_path(p) %>" class="right"><i class="material-icons">mode_edit</i></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="fixed-action-btn">
  <a href="#new_project" class="btn-floating red"><i class="material-icons">add</i></a>
</div>
<%= form_with(model: @group.projects.new) do |f| %>
    <div class="modal bottom-sheet" id="new_project">
      <div class="modal-content">
        <%= f.hidden_field :group_id, value: @group.id %>
        <h4>Create Project</h4>
        <div class="input-field">
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>
        <div class="input-field">
          <%= f.label :description %>
          <%= f.text_area :description, class: "materialize-textarea" %>
        </div>
        <div class="input-field">
          <%= f.submit 'Create Project', class: "btn" %>
        </div>
      </div>
    </div>
<% end %>
<script>
    $('.modal').modal({
            dismissible: true, // Modal can be dismissed by clicking outside of the modal
            opacity: .5, // Opacity of modal background
            inDuration: 300, // Transition in duration
            outDuration: 200, // Transition out duration
            startingTop: '4%', // Starting top style attribute
            endingTop: '10%' // Ending top style attribute
        }
    );
</script>