<div class="row">
  <div class="col s12 m4">
    <div class="card">
      <div class="card-content">
        <div class="card-title"><%= @group.title %></div>
        <div class="card-block">
          <%= @group.description %>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <h3 class="card-title">Projects</h3>
    <div class="card-block">
      <div class="card">
        <div class="card-content">
          <div class="card-title">All Projects</div>
          <div class="card-block">
            <ul class="collapsible" id="user-project-list">
                <%= render @group.projects %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <h3 class="card-title">Users</h3>
    <div class="card-block">
      <div class="card">
        <div class="card-content">
          <div class="card-block">
            <div class="card-title">Owner</div>
            <ul class="collection" id="group-project-list">
              <li id="User<%= @group.owner.id %>" class="collection-item"><%= @group.owner.username %></li>
            </ul>
            <div class="card-title">Members</div>
            <ul class="collection" id="group-project-list">
              <% @group.users.each do |u| %>
                  <% if u != @group.owner %>
                      <li id="User<%= u.id %>" class="collection-item"><%= u.username %></li>
                  <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>