<div class="row">
  <div class="col s12 m4">
    <h3 class="card-title">User Tasks</h3>
    <div class="card">
      <div class="card-content">
        <div class="card-title">All Tasks</div>
        <div class="card-block">
          <ul class="collection" id="task-list">
            <%= render current_user.tasks %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <h3 class="card-title">Projects</h3>
    <div class="card-block">
      <div class="card">
        <div class="card-content">
          <div class="card-title">All Projects</div>
          <div class="card-block">
            <ul class="collapsible" id="project-list">
                <%= render current_user.projects %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <h3 class="card-title">Groups</h3>
    <div class="card-block">
      <div class="card">
        <div class="card-content">
          <div class="card-title">Your Groups</div>
          <div class="card-block">
            <ul class="collection">
              <%= render current_user.owned_groups %>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="card-title">Groups You're part of</div>
          <div class="card-block">
            <ul class="collection">
              <%= render partial: 'groups/active_group', collection: current_user.active_groups %>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="card-title">Group Invitations</div>
          <div class="card-block">
            <ul class="collection">
              <%= render partial: 'groups/pending_group', collection: current_user.pending_groups %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fixed-action-btn">
  <a href="#new_task" class="btn-floating red" id="new_task_btn"><i class="material-icons">add</i></a>
</div>
<div class="tap-target" data-activates="new_task_btn">
  <div class="tap-target-content">
    <h5>Click here to create a new task</h5>
  </div>
</div>
<% if current_user.sign_in_count == 1 %>
    <script>
        $('#new_task_btn').toggleClass('pulse');
        $('.tap-target').tapTarget('open');
        $('#new_task_btn').click(function () {
            $('#new_task_btn').removeClass('pulse')
        });
    </script>
<% end %>
<%= form_with(model: current_user.tasks.new, id: "task-modal") do |f| %>
    <div class="modal bottom-sheet" id="new_task">
      <div class="modal-content">
        <h4>Create Task</h4>
        <div class="input-field">
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>
        <div class="input-field">
          <%= f.label :description %>
          <%= f.text_area :description, class: "materialize-textarea" %>
        </div>
        <div class="input-field">
          <%= f.label :priority %>
          <%= f.number_field :priority, min: 0, max: 5 %>
        </div>
        <div class="input-field">
          <%= f.submit 'Create Task', class: "btn" %>
        </div>
      </div>
    </div>
<% end %>
<script>
    $('.collapsible').collapsible();
    $('.modal').modal({
            dismissible: true, // Modal can be dismissed by clicking outside of the modal
            opacity: .5, // Opacity of modal background
            inDuration: 300, // Transition in duration
            outDuration: 200, // Transition out duration
            startingTop: '4%', // Starting top style attribute
            endingTop: '10%' // Ending top style attribute
        }
    );
</script>