<div class="row">
  <div class="col s12 m4">
    <h3 class="card-title">User Tasks</h3>
    <div class="card">
      <div class="card-content">
        <div class="card-title">All Tasks</div>
        <div class="card-block">
          <ul class="collection" id="user-task-list">
            <% current_user.tasks.each do |t| %>
                <li id="Task<%= t.id %>" class="collection-item">
                  <a href="<%= edit_task_path(t) %>" class="right"><i class="material-icons">mode_edit</i></a>
                  <%= link_to "Delete".html_safe, task_path(t), class: "right", data: {confirm: "Are you sure?"}, method: :delete, remote: true %>
                  <%= form_with(model: t, id: "complete#{t.id}", remote: true) do |f| %>
                      <%= f.check_box(:completed, {:class => 'fillied-in', id: "check_box#{t.id}", onchange: "$('#complete#{t.id}').submit()"}, "true", "false") %>
                      <label for="check_box<%= t.id %>"><%= link_to(t.title, tasks_path(t)) %></label>
                      <%= f.submit '', {:style => "display: none;"} %>
                  <% end %>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <h3 class="card-title">Projects</h3>
    <div class="card-block">
      <div class="card">
        <div class="card-content">
          <div class="card-title">All Projects</div>
          <div class="card-block">
            <ul class="collapsible" id="user-project-list">
              <% current_user.projects.each do |p| %>
                  <li id="Post<%= p.id %>">
                    <div class="collapsible-header"><%= link_to p.title, project_path(p) %>
                      <a href="<%= edit_project_path(p) %>" class="right"><i class="material-icons">settings</i></a>
                      <div class="progress">
                        <div class="determinate" style="width: <%= p.progress %>%"></div>
                      </div>
                    </div>
                    <div class="collapsible-body">
                      <ul class="collection">
                        <% p.tasks.each do |t| %>
                            <li class="collection-item">
                              <a href="<%= edit_task_path(t) %>" class="right"><i class="material-icons">mode_edit</i></a>
                              <%= form_with(model: t, id: "complete#{t.id}", remote: true) do |f| %>
                                  <%= f.hidden_field :project_id, value: p.id %>
                                  <%= f.check_box(:completed, {:class => 'fillied-in', id: "check_box#{t.id}", onchange: "$('#complete#{t.id}').submit()"}, "true", "false") %>
                                  <label for="check_box<%= t.id %>"><%= link_to(t.title, tasks_path(t)) %></label>
                                  <%= f.submit '', {:style => "display: none;"} %>
                              <% end %>
                            </li>
                        <% end %>
                      </ul>
                    </div>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <h3 class="card-title">Groups</h3>
    <div class="card-block">
      <div class="card">
        <div class="card-content">
          <div class="card-title">Your Groups</div>
          <div class="card-block">
            <ul class="collection" id="user-project-list">
              <% current_user.owned_groups.each do |g| %>
                  <li id="Project<%= g.id %>" class="collection-item"><%= link_to g.title, group_path(g) %>
                    <a href="<%= edit_group_path(g) %>" class="right"><i class="material-icons">mode_edit</i></a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="card-title">Groups You're part of</div>
          <div class="card-block">
            <ul class="collection" id="user-project-list">
              <% current_user.active_groups.each do |g| %>
                  <li id="Group<%= g.id %>" class="collection-item"><%= link_to g.title, group_path(g) %>
                    <%= link_to "Leave Group", user_group_path(id: g.id, user_id: current_user.id), class: "right", method: "delete", remote: true %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="card-title">Group Invitations</div>
          <div class="card-block">
            <ul class="collection" id="user-project-list">
              <% current_user.pending_groups.each do |g| %>
                  <% if !current_user.is_owner?(g) %>
                      <li id="Group<%= g.id %>" class="collection-item"><%= link_to g.title, group_path(g) %>
                        <div class="right">
                          <%= form_with model: current_user, url: user_group_path(g), remote: true do |f| %>
                              <%= f.submit 'Accept'.html_safe, class: "btn-flat" %>
                          <% end %>
                        </div>
                        <div class="right">
                          <%= form_with model: current_user, url: user_group_path(id: g.id, user_id: current_user.id), method: :delete, remote: true do |f| %>
                              <%= f.submit 'Decline', class: "btn-flat" %>
                          <% end %>
                        </div>
                      </li>
                  <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fixed-action-btn">
  <a href="#new_task" class="btn-floating red"><i class="material-icons">add</i></a>
</div>
<%= form_with(model: current_user.tasks.new) do |f| %>
    <div class="modal bottom-sheet" id="new_task">
      <div class="modal-content">
        <h4>Create Task</h4>
        <div class="input-field">
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>
        <div class="input-field">
          <%= f.label :description %>
          <%= f.text_area :description, class: "materialize-textarea" %>
        </div>
        <div class="input-field">
          <%= f.label :priority %>
          <%= f.number_field :priority, min: 0, max: 5 %>
        </div>
        <div class="input-field">
          <%= f.submit 'Create Task', class: "btn" %>
        </div>
      </div>
    </div>
<% end %>
<script>
    $('.collapsible').collapsible();
    $('.modal').modal({
            dismissible: true, // Modal can be dismissed by clicking outside of the modal
            opacity: .5, // Opacity of modal background
            inDuration: 300, // Transition in duration
            outDuration: 200, // Transition out duration
            startingTop: '4%', // Starting top style attribute
            endingTop: '10%' // Ending top style attribute
        }
    );
</script>